body {
	background-color: #f6e9b7;
	font-family: sans-serif;
}

#intro {
	text-align: center;
	color: #f6e9b7;
	background-image: url("../images/intro.jpg");
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: #6d6d6d;
}

a:hover {
	text-decoration: underline;
	color: #6d6d6d;
}

a:active {
	text-decoration: underline;
	color: #6d6d6d;
}

ul.soorten {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.soorten li {
	display: inline;
	margin-right: 1.5em;
}

th {
	text-align: left;
	font-weight: lighter;
	width: 200px;
}

td {
	text-align: left;
	font-weight: bold;
}